<ion-header>
  <ion-navbar>
    <ion-title>{{mode}} Recipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #theForm="ngForm" (ngSubmit)="onSubmitRecipe(theForm)">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" name="title" required [(ngModel)]="recipe.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea required [(ngModel)]="recipe.description" name="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        
        <ion-select required [(ngModel)]="recipe.difficulty" name="difficultySelect">
          <ion-option ng-selected="selected" [value]="item" *ngFor="let item of diffiCultyLevelOptions">{{item}} </ion-option> 
<!-- ng-selected="selected" [ngModel]="item" -->
        </ion-select>
      </ion-item>

    </ion-list>

    <button type="button" clear ion-button block (click)="onManageIngredients()">Manage Ingredients</button>

    <ion-list >
      <ion-item *ngFor="let ingredient of ingredientList;let i = index">
        <ion-label floating>Ingredient Name</ion-label>
        <ion-input type="text" [(ngModel)]="ingredient.name" name="ingredient_{{i}}" id="{{i}}" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" block [disabled]="!theForm.valid" icon-left>
      <ion-icon name="briefcase"></ion-icon>
      Save Recipe
      </button>

  </form>


</ion-content>